In [3]:
import numpy as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [5]:
import pandas as pd
Kayaking= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Kayaking")
Triathlon= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Triathlon")
Fencing= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Fencing")
Kayaking.head()

C:\Users\Nidhi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Nidhi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0

Q1 Join all sport-related tables to produce one dataframe that has all athletes values. The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.

In [6]:
dataframe=pd.concat([Kayaking,Triathlon,Fencing])
dataframe

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

Q17:What is the maximum ventilatory threshold for triathletes.

Q18:Display the number of athletes in every sport against the name of the sport.

Q19:Display a bar chart showing the average V02 Max by sport.

Q20:Analyze the trend of HR at the start of the test vs the middle and the end.What is the overall trend?

Q21:Display a pie chart of number of athletes by sport.

Q22:Using any 10 HR values print even if the value is an even number and odd if its an odd number

Q23:Which heart rate zone did most participants spend the longest duration of time in?

Q24:Store athlete name and sport in a dictionary as a pair of values.

Q25:Using arrays and loops, find the count of athletes based on gender.

Q26:Create a sankey diagram to show the groups of race within each sport

Q27:Calculate the average heart rate for every minute for every athlete and add it as a column in the same dataframe.

Q28:Print athlete 15s Age and Pvt1 using the format() function

Q29:On average how long was each participantsâ€™ warm up?

Q30:Display the HRV of each athlete?

Q31:Return the count of athletes for any sport that the user inputs.

Q32:Insert the name of every athlete into an array and display the length of that array.

Q33: Create a list and a tuple. Print the types and lengths of  both.

Q34: Display a word cloud using any values in the dataset

Q35: Create a Regression Plot on Max V02 and mean BMI for any sport of your choice

Q36: Plot the time series of HR( every 5 mins) of athlete 1

Q37: What was the maximum power achieved in terms of watts, which participant achieved it? Display name, sport and watts.

Q38: What is the average  difference in IBI during the warm up Vs the actual test?

Q39: Print out what's in indexes 7, 10, and 3 for the array in Q33.

Q40:   [ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26,Â 27,Â 28,Â 29,Â 30]  Use array slicing to display elements 1,3,5. If the value is less than 4 display it as 99

Q41: What was lowest wattage achieved at the end of a test and by which participant? Display name, sport and watts.

Q42: What was the difference in heart rate between warm up and GET for athlete 1

Q43: Create a pivot table that shows count of patients within each age group and sport

Q44: Display a  distrubution chart of MAX V02 for all athletes

Q45: Create a dummy array with no data with a size of 15.

Q46: How many minutes did participant 15s exercise last and what was the total V02 max consumed during the test?

Q47: Convert ' sport' into a numeric field through Label encoding

Q48: What was the average age of the athletes?

Q49: Retrieve the row with minimum IBI for fencing athletes using sorting technique.

Q50 Create a violin chart using any 2 columns in the dataset

Q51 List every athleteâ€™s V02 ml/kg

Q52 Using all markers of fitness available to you, who is fittest athlete. Write 1-2 lines about the analysis that led to your insight.

Q53 phonebook={"john":938477566,"Jack":938377264,"Jill":947662781}  ,find the phone number of Jill

Q54 Create a Pie chart for  Athletes and explode the widge with Highest V02 kg/ml in and Label by Athlete ID

Q55 Using a for loop iterate through HR for all trathletes and display all details of the athlete with the highest heart rate

Q56 Display a histogram to show distribution of athletes by sport.

Q57 get the first letter of last name of students using for loops and RegEX

Q58 What is the average % difference in heart rate between warm up and GET for all athletes?

Q59 Who is the tallest athlete in the dataset. What is his sport and his Vo2 ml/kg?

Q60 get the last letter      of athletes last names using RegEX

Q61 Reverse an arrays order in Python. You can use any array with any values you like.

Q62 What is the root mean of successive differences for 30 consecutive minutes for each athlete.

Q63 On average how many minutes did each athlete in the sport of fencing spend in Zone 5?

Q64 Count athletes based on Gender using count plot

Q65:   [ 1,  2,  3,  4,  5],C
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26,Â 27,Â 28,Â 29,Â 30]  Use array slicing to display elements 4,7,10,17.

Q66: On average, how long did each participant spend at 200 watts?

Q67: Athletes from which sport had the highest average cardiorespiratory fitness in terms of v02 max?

Q68: What % of athletes exceeded 90% of max HR? (Max HR is calculated as 220-Age)

Q69: What was the lowest heart rate recorded at a power wattage of 200

Q70: On Average how long did most athletes spend at 75% of MaxHR (Max HR is calculated as 220-Age)

Q71: Create a crosstab to show each sport as a column and each heart rate zone as rows with counts of rows that satisfy each condition as values

Q72: Provide an example of a lambda function that multiplies any 2 input values.

Q73: How long was athlete 17s warm up

Q74: Take a students full name and reverse it using a for loop

Q75: What was the maximum heart rate recorded during the test. Which athlete did it belong to? Display name, sport and HR

Q76: np.arange(1,31).reshape(6,5),find array slicing to get the elements 2,5,13,25,30.

Q77: Display a violin chart to show distribution of VO2Max against age.

Q78: Create a heatmap that show heart rate zones by minutes and the number of athletes in each HR and each minute.

Q79: Plot the Donut chart athlete distrubution by Gender

Q80: Find the size of Tuple for any given input