In [ ]:
1.Join all sport-related tables to produce one dataframe that has all athletes values.
The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.?

In [7]:
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [8]:
import pandas as pd
Kayaking= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Kayaking")
Triathlon= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Triathlon")
Fencing= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Fencing")
AllAthletesData=pd.merge(Kayaking,Triathlon,how='outer').merge(Fencing,how='outer')
AllAthletesData.head()
AllAthletesData.to_excel('AllAthletesData.xlsx',sheet_name='AllAthletesData',index=False)

2.Divide the rows into 3 parts: Warm up, GET(graded exercise test) and cool down using the data def. Label each row accordingly

In [9]:
df_excersizetype=pd.read_excel('AllAthletesData.xlsx',sheet_name='AllAthletesData')
df_excersizetype.loc[df_excersizetype['time'] < 0,'ExType']='Warm Up' 
df_excersizetype.loc[(df_excersizetype['time'] >= 0) & (df_excersizetype['power'] > 0), 'ExType'] = 'GET'
df_excersizetype.loc[(df_excersizetype['time'] >= 0) & (df_excersizetype['power'] == 0), 'ExType'] = 'Cool Down'
df_excersizetype

       ID     time     RR       VO2  power     ExType
0       1 -130.840  672.0  0.302008      0    Warm Up
1       1 -130.168  672.0  0.302008      0    Warm Up
2       1 -129.536  632.0  0.301336      0    Warm Up
3       1 -128.824  712.0  0.301336      0    Warm Up
4       1 -127.948  876.0  0.301336      0    Warm Up
...    ..      ...    ...       ...    ...        ...
52057  18  947.288  536.0  0.507071      0  Cool Down
52058  18  947.816  528.0  0.507071      0  Cool Down
52059  18  948.344  528.0  0.507071      0  Cool Down
52060  18  948.884  540.0  0.507071      0  Cool Down
52061  18  949.424  540.0  0.507071      0  Cool Down

[52062 rows x 6 columns]

3.What was the average time each tested lasted excluding warm up for all athletes?

In [10]:
df_Average=df_excersizetype[df_excersizetype['time'] >= 0]
print('Average time:',round(df_Average['time'].mean(),2))

Average time: 604.0

4.Athletes from which sport had the highest average cardiorespiratory fitness in terms of HRV?

5.What was the average time each test lasted (including warm up) for all athletes?

In [11]:
print('Average Time:', round(df_excersizetype['time'].mean(),2))

Average Time: 547.46

6.What was the most common  wattage (above 0) achieved by participants and for how many seconds (average time)?
You may choose to show averages based on any one/all sports.

In [30]:

wattage=df_excersizetype.groupby(['power'], as_index=False)['VO2'].count()
#removing the 0 wattage from the list
filt=wattage['power']==0
wattage=wattage.drop(index=wattage[filt].index )
#print(wattage)
#Most common wattage by max count
maxcount=wattage['VO2'].max()
#print(maxcount)
df_participants=wattage[wattage['VO2']==maxcount]
#print(df_participants)
print('Most common watage is: ',df_participants.iat[0,0])
print('how many times repeated : ',maxcount)
df_participants=pd.merge(AllAthletesData,Atheletes,on='ID',how='inner').merge(df_participants,on='power',how='inner')
df_participants=df_participants.groupby(['First Name','Last Name'], as_index=False)['time'].mean()
print('Most common wattage achieved by participants and Avaergae time in seconds:')
df_participants

Most common watage is:  50
how many times repeated :  6227
Most common wattage achieved by participants and Avaergae time in seconds:

   First Name  Last Name        time
0       Aiden    Bennett   91.458436
1         Ava   Thompson   92.727754
2       Caleb      Dixon   91.824262
3       Chloe      Price   77.081956
4       Ethan   Reynolds   85.053207
5       Grace    Simmons   93.438213
6      Harper   Mitchell   95.742682
7    Isabella    Griffin   98.357259
8     Jackson     Harper   89.064458
9        Liam    Sanchez   90.574331
10       Lily     Jordan   92.203131
11      Logan   Anderson  101.813951
12      Lucas     Foster   91.352021
13      Mason    Wallace   89.812655
14        Mia  Carpenter   89.784922
15     Olivia   Martinez  106.251675
16       Owen      Myers   91.152733
17     Sophia  Rodriguez   89.296063

7.Create a correlation matrix to show the relationship between HR, BMI and sport.

8.What are the names of the kayaking athletes?

In [14]:

Atheletes= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Athletes")
uniqnames=Atheletes[Atheletes['sport'] =='kayak']
print('Names:\n ',uniqnames['First Name'] +uniqnames['Last Name'] )

Names:
  10    IsabellaGriffin
11         CalebDixon
12       MiaCarpenter
13     HarperMitchell
14       MasonWallace
15      LoganAnderson
dtype: object

9.What was the average HRV of the triathletes?

10.How long was athlete 12 in HR Zone 5?

In [122]:
dfzone=pd.merge(df_excersizetype,Atheletes,on='ID',how='inner')
dfzonecat=dfzone[(dfzone['ID']==12) & (dfzone['Zone Type']=='Zone 5')]
print('Time in Hrs:', round(sum(dfzonecat['time']/3600),2))

Time in Hrs: 390.75

11.Create any 3d plot using any data. Values do not have to be from the dataset given.

12.What were the Highest 3 V02 Maxes recorded. Display all 3 names, sport and personal V02 Maxes.

In [106]:
dfzoneMax=dfzone.sort_values(by="VO2", ascending=False)
dfzoneMax=dfzoneMax[['ID','First Name','Last Name','sport','VO2']].drop_duplicates()
dfzoneMax.head(3)

       ID First Name  Last Name  sport       VO2
38093  13        Mia  Carpenter  kayak  4.576774
38176  13        Mia  Carpenter  kayak  4.099752
38178  13        Mia  Carpenter  kayak  3.951029

13.Calculate the year of birth of each athlete and store it as a column in the tables.

14.What were the lowest 3 V02 Maxes recorded. Display all 3 names, sport and personal V02 Maxes.

In [107]:
dfzoneMax=dfzone.sort_values(by="VO2", ascending=True)
dfzoneMax=dfzoneMax[['ID','First Name','Last Name','sport','VO2']].drop_duplicates()
dfzoneMax.head(3)

       ID First Name Last Name    sport       VO2
22322   9      Chloe     Price  fencing  0.069354
22324   9      Chloe     Price  fencing  0.081389
25079  10       Lily    Jordan  fencing  0.122263

In [ ]:
15.Assign 1 of the following 5 heart rate zones for every record for all sports and athletes and add 
    this as a column to every table:
Zone 1 (recovery/easy)       <100 HR max
Zone 2 (aerobic/base)        100-120 HR max
Zone 3 (tempo)        120-135 HR max
Zone 4 (lactate threshold)        135-155 HR max
Zone 5 (anaerobic)        155+ HR max and above

In [82]:
df_excersizetype['HR']=60/(df_excersizetype['RR']/1000)
df_excersizetype
df_excersizetype.loc[df_excersizetype['HR'] < 100,'Zone Type']='Zone 1'
df_excersizetype.loc[(df_excersizetype['HR'].between(100,120)), 'Zone Type'] = 'Zone 2'
df_excersizetype.loc[(df_excersizetype['HR'].between(121,135)), 'Zone Type'] = 'Zone 3'
df_excersizetype.loc[(df_excersizetype['HR'].between(136,155)), 'Zone Type'] = 'Zone 4'
df_excersizetype.loc[df_excersizetype['HR'] > 155, 'Zone Type'] = 'Zone 5'


#df_excersizetype.loc[(df_excersizetype['time'] >= 0) & (df_excersizetype['power'] == 0), 'ExType'] = 'Cool Down'
df_excersizetype

       ID     time     RR       VO2  power     ExType          HR Zone Type
0       1 -130.840  672.0  0.302008      0    Warm Up   89.285714    Zone 1
1       1 -130.168  672.0  0.302008      0    Warm Up   89.285714    Zone 1
2       1 -129.536  632.0  0.301336      0    Warm Up   94.936709    Zone 1
3       1 -128.824  712.0  0.301336      0    Warm Up   84.269663    Zone 1
4       1 -127.948  876.0  0.301336      0    Warm Up   68.493151    Zone 1
...    ..      ...    ...       ...    ...        ...         ...       ...
52057  18  947.288  536.0  0.507071      0  Cool Down  111.940299    Zone 2
52058  18  947.816  528.0  0.507071      0  Cool Down  113.636364    Zone 2
52059  18  948.344  528.0  0.507071      0  Cool Down  113.636364    Zone 2
52060  18  948.884  540.0  0.507071      0  Cool Down  111.111111    Zone 2
52061  18  949.424  540.0  0.507071      0  Cool Down  111.111111    Zone 2

[52062 rows x 8 columns]

16.Calculate the BMI of every athlete and display it as a list.

In [63]:
Atheletes['BMI']=Atheletes['Weight']/Atheletes['Height']**2
Atheletes

,ID,age,Weight,Height,P_vt1,P_vt2,sport,Gender,Ethnicity,First Name,Last Name,BMI
0,1,15,53.7,161,50,140,fencing,Female,African,Olivia,Martinez,0.002072
1,2,15,56.2,162,80,127,fencing,Male,African,Ethan,Reynolds,0.002141
2,3,16,89.9,191,155,300,fencing,Male,White,Jackson,Harper,0.002464
3,4,16,76.5,180,215,275,fencing,Male,White,Liam,Sanchez,0.002361
4,5,17,76.4,186,110,172,fencing,Female,White,Ava,Thompson,0.002208
5,6,17,65.6,169,131,186,fencing,Female,White,Sophia,Rodriguez,0.002297
6,7,15,49.8,165,65,108,fencing,Female,White,Grace,Simmons,0.001829
7,8,15,51.2,165,80,133,fencing,Female,White,Aiden,Bennett,0.001881
8,9,14,57.1,176,50,125,fencing,Female,African,Chloe,Price,0.001843
9,10,14,58.8,177,101,162,fencing,Female,African,Lily,Jordan,0.001877
10,11,18,84.8,182,174,268,kayak,Female,African,Isabella,Griffin,0.002560
11,12,18,86.0,183,170,294,kayak,Male,African,Caleb,Dixon,0.002568
12,13,18,83.9,183,144,267,kayak,Female,Asian,Mia,Carpenter,0.002505
13,14,13,62.3,171,140,170,kayak,Female,Asian,Harper,Mitchell,0.002131
14,15,13,63.5,172,125,156,kayak,Male,Latino,Mason,Wallace,0.002146
15,16,16,70.4,182,79,175,kayak,Male,Latino,Logan,Anderson,0.002125
16,17,12,39.9,156,101,145,triathlon,Male,Latino,Lucas,Foster,0.001640
17,18,12,39.7,158,65,168,triathlon,Male,Latino,Owen,Myers,0.001590