In [2]:
import numpy as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
import pandas as pd
Kayaking= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Kayaking")
Triathlon= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Triathlon")
Fencing= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Fencing")
Kayaking.head()

C:\Users\Nidhi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Nidhi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0

Q1 Join all sport-related tables to produce one dataframe that has all athletes values. 
The final table should only have the same 5 columns: ID, time,power,RR, vo2, power.
Write this dataframe to an excel file.

In [34]:
dataframe=pd.concat([Kayaking,Triathlon,Fencing])
dataframe

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

Q49 Retrieve the row with minimum IBI for fencing athletes using sorting technique.

Q50 Create a violin chart using any 2 columns in the dataset

In [ ]:
Q51 List every athlete’s V02 ml/kg

In [ ]:
Q52 Using all markers of fitness available to you, who is fittest athlete. Write 1-2 lines about the analysis that led to your insight.

In [ ]:
Q53 phonebook={"john":938477566,"Jack":938377264,"Jill":947662781}  ,find the phone number of Jill

In [ ]:
Q54 Create a Pie chart for  Athletes and explode the widge with Highest V02 kg/ml in and Label by Athlete ID

In [ ]:
Q55 Using a for loop iterate through HR for all trathletes and display all details of the athlete with the highest heart rate

In [ ]:
Q56 Display a histogram to show distribution of athletes by sport.

In [ ]:
Q57 get the first letter of last name of students using for loops and RegEX

In [ ]:
Q58 What is the average % difference in heart rate between warm up and GET for all athletes?

In [ ]:
Q59 Who is the tallest athlete in the dataset. What is his sport and his Vo2 ml/kg?

In [6]:
Ath_letes=pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Athletes")
max_Height= Ath_letes['Height'].max()

C:\Users\Nidhi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [ ]:
Q60 get the last letter      of athletes last names using RegEX

In [ ]:
Q61 Reverse an arrays order in Python. You can use any array with any values you like.

In [ ]:
Q62 What is the root mean of successive differences for 30 consecutive minutes for each athlete.

In [ ]:
Q63 On average how many minutes did each athlete in the sport of fencing spend in Zone 5?

In [ ]:
Q64 Count athletes based on Gender using count plot