In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [114]:
import pandas as pd
Kayaking= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Kayaking")
Triathlon= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Triathlon")
Fencing= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Fencing")
Fencing.head()

C:\Users\sonam\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\sonam\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   ID     time   RR       VO2  power
0   1 -130.840  672  0.302008      0
1   1 -130.168  672  0.302008      0
2   1 -129.536  632  0.301336      0
3   1 -128.824  712  0.301336      0
4   1 -127.948  876  0.301336      0

Q1: Join all sport-related tables to produce one dataframe that has all athletes values. The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.

In [66]:
df=pd.concat([Kayaking,Triathlon,Fencing])
df

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

Q65:   [ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]  Use array slicing to display elements 4,7,10,17.

Q66: On average, how long did each participant spend at 200 watts?

In [94]:
filtered_df = df[df['power'] == 200]
avg_time =filtered_df.groupby("ID")["time"].mean()
avg_time

ID
3     750.426811
4     747.390507
5     752.161512
6     747.582241
9     689.205778
10    736.167525
11    755.487523
12    748.662993
13    747.937121
14    760.236267
15    749.079365
16    758.173876
18    734.506952
Name: time, dtype: float64

Q67: Athletes from which sport had the highest average cardiorespiratory fitness in terms of v02 max?

In [424]:
kv=Kayaking["VO2"].mean()
tv=Triathlon["VO2"].mean()
fv=Fencing["VO2"].mean()
a= [kv,tv,fv]
b=pd.DataFrame(a).max()
print("Kayaking hadthe highest average cardiorespiratory fitness in terms of v02 max: ",b)

Kayaking hadthe highest average cardiorespiratory fitness in terms of v02 max:  0    1.833804
dtype: float64

Q68: What % of athletes exceeded 90% of max HR? (Max HR is calculated as 220-Age)

In [ ]:
HR =df. 60/(RR/1000)

Q69: What was the lowest heart rate recorded at a power wattage of 200

In [438]:
HR = 60/(filtered_df['RR']/1000).min()
print("the lowest heart rate recorded at a power wattage of 200: ",HR)

the lowest heart rate recorded at a power wattage of 200:  205.47945205479454

Q70: On Average how long did most athletes spend at 75% of MaxHR (Max HR is calculated as 220-Age)

Q71: Create a crosstab to show each sport as a column and each heart rate zone as rows with counts of rows that satisfy each condition as values

Q72: Provide an example of a lambda function that multiplies any 2 input values.

In [480]:
v1 =int(input("Please enter your first number: "))
v2=int(input("Please enter your second number: "))
v={'First_number':v1,'Second_number': v2}
d=pd.DataFrame(v, index=[0])
d['Multiplied']= d.apply(lambda x: (x['First_number'] * x['Second_number']))
d

Please enter your first number:  8
Please enter your second number:  9

KeyError: 'First_number'

Q73: How long was athlete 17s warm up

Q74: Take a students full name and reverse it using a for loop

Q75: What was the maximum heart rate recorded during the test. Which athlete did it belong to? Display name, sport and HR

Q76: np.arange(1,31).reshape(6,5),find array slicing to get the elements 2,5,13,25,30.

Q77: Display a violin chart to show distribution of VO2Max against age.

Q78: Create a heatmap that show heart rate zones by minutes and the number of athletes in each HR and each minute.

Q79: Plot the Donut chart athlete distrubution by Gender

In [482]:
Athletes= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Athletes")

C:\Users\sonam\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

Q80: Find the size of Tuple for any given input

In [124]:
values =input("Please insert new item: ")
new_values =values.split(",")
a_tuple= tuple(new_values)
print(a_tuple)
print("size of tuple is ", len(a_tuple))

Please insert new item:  5,7,3

('5', '7', '3')
size of tuple is  3