In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import pandas as pd
Kayaking= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Kayaking")
Triathlon= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Triathlon")
Fencing= pd.read_excel("V02Max_Combined.xlsx",sheet_name= "Fencing")
Kayaking.head()

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0

In [6]:
#display(Kayaking)
#display(Triathlon)
#display(Fencing)

       ID     time   RR       VO2  power
0       1 -130.840  672  0.302008      0
1       1 -130.168  672  0.302008      0
2       1 -129.536  632  0.301336      0
3       1 -128.824  712  0.301336      0
4       1 -127.948  876  0.301336      0
...    ..      ...  ...       ...    ...
27598  10  942.700  428  0.786363      0
27599  10  943.124  424  0.786363      0
27600  10  943.552  428  0.786363      0
27601  10  943.976  424  0.786363      0
27602  10  944.404  428  0.786363      0

[27603 rows x 5 columns]

Q1:Join all sport-related tables to produce one dataframe that has all athletes values. The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.

In [3]:
dataframe=pd.concat([Kayaking,Triathlon, Fencing])
dataframe

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

Q2:Divide the rows into 3 parts: Warm up, GET(graded exercise test) and cool down using the data def. Label each row accordingly

Q17:What is the maximum ventilatory threshold for triathletes.

Q18:Display the number of athletes in every sport against the name of the sport.

Q19:Display a bar chart showing the average V02 Max by sport.

Q20:Analyze the trend of HR at the start of the test vs the middle and the end.What is the overall trend?

Q21:Display a pie chart of number of athletes by sport.

Q22:Using any 10 HR values print even if the value is an even number and odd if its an odd number

Q23:Which heart rate zone did most participants spend the longest duration of time in?

Q24:Store athlete name and sport in a dictionary as a pair of values.

Q25:Using arrays and loops, find the count of athletes based on gender.

Q26:Create a sankey diagram to show the groups of race within each sport

Q27:Calculate the average heart rate for every minute for every athlete and add it as a column in the same dataframe.

Q28:Print athlete 15s Age and Pvt1 using the format() function

Q29:On average how long was each participantsâ€™ warm up?

Q30:Display the HRV of each athlete?

Q31:Return the count of athletes for any sport that the user inputs.

Q32:Insert the name of every athlete into an array and display the length of that array.